.grid{
    border: 1px solid;
    height: 120px;
    width: 140px;
    display: flex;
    flex-wrap: wrap;
}

/* every single div inside the div with the class of grid to be styled the foll. way*/
.grid div{
    height: 20px;
    width: 20px;
}

.player-one{
    background-color: red; 
    border-radius: 10px;
}

.player-two{
    background-color: blue; 
    border-radius: 10px;
}